.LaneContainer {
    display: flex;
}

.Lane {
   min-width: 200px;
   background-color: yellow;
   margin: 5px;
}

.LaneAddNote {
    width: 100px;
}

.LaneName {

}

.LaneDelete {
    
}

.value {
    
}